.modgit/
src/app/code/community/Phoenix/
src/app/code/community/Cm/
src/app/code/core/
src/app/design/adminhtml/default/default/
src/app/design/frontend/default/blank/
src/app/design/frontend/default/default/
src/app/design/frontend/default/iphone/
src/app/design/frontend/default/modern/
src/app/design/frontend/enterprise/default
src/app/design/install/
src/app/etc/modules/Enterprise_*
src/app/etc/modules/Mage_All.xml
src/app/etc/modules/Mage_Api.xml
src/app/etc/modules/Mage_Api2.xml
src/app/etc/modules/Mage_Authorizenet.xml
src/app/etc/modules/Mage_Bundle.xml
src/app/etc/modules/Mage_Captcha.xml
src/app/etc/modules/Mage_Centinel.xml
src/app/etc/modules/Mage_Compiler.xml
src/app/etc/modules/Mage_Connect.xml
src/app/etc/modules/Mage_CurrencySymbol.xml
src/app/etc/modules/Mage_Downloadable.xml
src/app/etc/modules/Mage_ImportExport.xml
src/app/etc/modules/Mage_LoadTest.xml
src/app/etc/modules/Mage_Oauth.xml
src/app/etc/modules/Mage_PageCache.xml
src/app/etc/modules/Mage_Persistent.xml
src/app/etc/modules/Mage_Weee.xml
src/app/etc/modules/Mage_Widget.xml
src/app/etc/modules/Mage_XmlConnect.xml
src/app/etc/modules/Phoenix_Moneybookers.xml
src/app/etc/modules/Cm_RedisSession.xml
src/app/etc/applied.patches.list
src/app/etc/config.xml
src/app/etc/enterprise.xml
src/app/etc/local.xml.additional
src/app/etc/local.xml.template
src/app/etc/local.xml
src/app/.htaccess
src/app/Mage.php
cron.php
cron.sh
downloader/
errors/
favicon.ico
get.php
includes/
index.php
index.php.sample
/install.php
js/blank.html
js/calendar/
js/enterprise/
js/extjs/
js/firebug/
js/flash/
js/index.php
js/jscolor/
js/lib/
js/mage/
js/prototype/
js/scriptaculous/
js/spacer.gif
js/tiny_mce/
js/varien/
lib/3Dsecure/
lib/Apache/
lib/flex/
lib/googlecheckout/
lib/.htaccess
lib/LinLibertineFont/
lib/Mage/
lib/PEAR/
lib/phpseclib/
lib/Varien/
lib/Zend/
lib/Cm/
lib/Credis/
lib/Magento/
LICENSE_AFL.txt
LICENSE.html
LICENSE.txt
LICENSE_EE*
mage
media/customer/
media/dhl/
media/downloadable/
media/.htaccess
media/import/
media/xmlconnect/
media/catalog/product/cache/
api.php
nbproject/
pear
pear/
php.ini.sample
pkginfo/
RELEASE_NOTES.txt
shell/abstract.php
shell/compiler.php
shell/indexer.php
shell/log.php
src/skin/adminhtml/default/default/
src/skin/adminhtml/default/enterprise
src/skin/frontend/rwd/
src/skin/frontend/default/blank/
src/skin/frontend/default/blue/
src/skin/frontend/default/default/
src/skin/frontend/default/french/
src/skin/frontend/default/german/
src/skin/frontend/default/iphone/
src/skin/frontend/default/modern/
src/skin/frontend/enterprise
src/skin/install/
var/